html {
    text-align: center;
  }
  
  body {
    /* margin: 0; */
    /* padding: 0; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  
  #root {
    margin-top: 40vh;
    width: 100%;
  }
  
  input, 
  button {
    padding: .5rem;
    border-radius: .5rem;
  }
  
  input {
    width: 10rem;
    height: 1.15rem;
    border-color: rgb(8, 235, 8);
    border-style: solid;
    border-width: 1px;
    font-size: .75rem;
    margin-right: 1rem;
  }
  
  button {
    background-color: rgb(138, 255, 5);
    font-size: 1rem;
    color: rgb(248, 249, 250);
    width: 7.5rem; 
    height: 2.5rem;
    box-shadow: 0px;
  }
  
  .loading-header {
    color: rgba(108, 117, 125, 0.750);
  }
  
  h2 {
    color: rgb(119, 128, 136);
  }